# 03. Agregar o eliminar datos con Pandas

- El método que nos permite eliminar datos de un dataframe es el método drop, su parámetro principal es la ubicaión de los datos a borrar, tambien podemos indicar el eje de borrado con el parámetro axis (0 para borrar una fila y 1 para borrar una columna)

- También podemos usar método nativo de python del: del df[col]

- En el caso querramos agregar una nueva columna lo hacemos declarando esta columna: df[col] = data

- Para agregar una nueva fila usamos el método append: df.append(data)

## Importar librerías

In [3]:
import pandas as pd
import numpy as np

## Cargar DataFrame

In [4]:
df_books = pd.read_csv('./bd/bestsellers-with-categories.csv',sep=',',header=0)

In [5]:
df_books.head(2)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction

## Drop columns

In [ ]:
df_books.drop('Genre', axis=1).head() #axis 1 = columnas. axis 2 = filas
# Elimina la columna Genre de la salida pero no del dataFrame

In [ ]:
df_books.drop('Genre',axis=1,inplace=True) # Se borra directo del data frame

In [ ]:
df_books = df_books.drop('Year',axis=1)

In [ ]:
df_books.head(2)

                            Name        Author  User Rating  Reviews
0  10-Day Green Smoothie Cleanse      JJ Smith          4.7    17350
1              11/22/63: A Novel  Stephen King          4.6     2052

In [ ]:
del df_books['Price'] # Elimina la columna Price del dataFrame, funcion propia de Python

## Drop rows

In [ ]:
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

In [ ]:
df_books.drop(0, axis=0) # Elimina la fila 0 del dataFrame

In [ ]:
df_books.drop([0,1,2], axis=0) # Elimina las filas 0, 1 y 2 del dataFrame

In [ ]:
df_books.drop(range(0,10),axis=0).head(2) # Elimina las primeras 10 filas del dataFrame

                                                 Name  ...        Genre
10                          A Man Called Ove: A Novel  ...      Fiction
11  A Patriot's History of the United States: From...  ...  Non Fiction

[2 rows x 7 columns]

## Add columns

In [ ]:
df_books.head(2)

                            Name        Author  ...  Year        Genre
0  10-Day Green Smoothie Cleanse      JJ Smith  ...  2016  Non Fiction
1              11/22/63: A Novel  Stephen King  ...  2011      Fiction

[2 rows x 7 columns]

In [7]:
df_books['Nueva_Columna'] = np.nan 
df_books.head(2)
# Crea una nueva columna con el nombre de Nueva_columna de valores Nan

,Name,Author,User Rating,Reviews,Price,Year,Genre,Nueva_Columna
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,NaN

In [ ]:
data = np.arange(0,df_books.shape[0]) # Mostrar el numero de filas(0) o columnas(1) que tiene un dataFrame

In [ ]:
df_books['Rango'] = data # Crea una nueva columna llamada Rango con los valores del array

In [10]:
df_books

,Name,Author,User Rating,Reviews,Price,Year,Genre,Nueva_Columna
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,NaN
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,NaN
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,NaN
...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction,NaN
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction,NaN
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction,NaN
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction,NaN
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction,NaN

## Add rows
Para añadir filas se utiliza la funcion append de Python añadiendo como parámetro una lista, diccionario o añadiendo los valores manualmente.

In [11]:
df_books.append(df_books) # Duplica las filas del data Frame

AttributeError: 'DataFrame' object has no attribute 'append'